{include file="index/head" /}
<div class="row clearfix">
<div class="col-lg-4 column">
</div>
<div class="col-lg-4 column">
<div class="panel panel-default" >
    <div class="panel-heading">
        <h2 class="panel-title text-center">注册</h2>
    </div>
    <div class="panel-body">
        <form name="registerform" class="form-inline" role="form" method="post">
  <div class="form-group" id="registerformstate0" style="width:100%">
    <label for="registerforminput0">*账&#12288&#12288号</label>
    <input type="text" class="form-control" id="registerforminput0" name="registerforminput0" maxlength="15" placeholder="请输入账号" onBlur="registerjs.existTest()" style="width:100%">
	<span id="registerformhelpBlock0" class="help-block pull-right">请输入账号！</span>
  </div>
  <div class="form-group" id="registerformstate1" style="width:100%">
	<label for="registerforminput1">*密&#12288&#12288码</label>
    <input type="password" class="form-control" id="registerforminput1" name="registerforminput1" maxlength="15" placeholder="请输入密码" onkeypress="registerjs.passwordComplexTest()" style="width:100%" >
	<span id="registerformhelpBlock1" class="help-block pull-right">请输入密码！最好由数字和字母组成！</span>
  </div>
  <div class="form-group" id="registerformstate2" style="width:100%">
	<label for="registerforminput2">*重复密码</label>
    <input type="password" class="form-control" id="registerforminput2" name="registerforminput2" maxlength="15" placeholder="请重复输入密码" onBlur="registerjs.passwordRepeatTest()" style="width:100%">
	<span id="registerformhelpBlock2" class="help-block pull-right">请重复输入密码！</span>
  </div>
  <div class="form-group" id="registerformstate3" style="width:100%">
	<label for="registerforminput3">*姓&#12288&#12288名</label>
    <input type="text" class="form-control" id="registerforminput3" name="registerforminput3"maxlength="10" placeholder="请输入姓名" style="width:100%">
	<span id="registerformhelpBlock3" class="help-block pull-right">请输入姓名！</span>
  </div>
  <div class="form-group" id="registerformstate4" style="width:100%">
	<label for="registerforminput4">*手机号码</label>
    <input type="text" class="form-control" id="registerforminput4" name="registerforminput4" maxlength="11" placeholder="请输入手机号码" style="width:100%">
	<span id="registerformhelpBlock4" class="help-block pull-right" >请输入手机号码！</span>
  </div>
  <div class="form-group" id="registerformstate5" style="width:100%">
	<label for="registerforminput5">*部&#12288&#12288门</label>
    <select class="form-control" style="width:100%" id="registerforminput5">
		<option></option>
		<option>财务部</option>
		<option>综合部</option>
		<option>销售部</option>
		<option>总经办</option>
		<option>教育培训部</option>
		<option>品牌推广部</option>
		<option>市场研发部</option>
		<option>招商运营部</option>
	</select>
	<span id="registerformhelpBlock5" class="help-block pull-right" >请选择部门！</span>
  </div>
   <div class="form-group" id="registerformstate6" style="width:100%">
	<label for="registerforminput6">*职&#12288&#12288位</label>
    <select class="form-control" style="width:100%" id="registerforminput6">
		<option></option>
		<option>部门专员</option>
		<option>部门主管</option>
		<option>部门经理</option>
		<option>副总经理</option>
		<option>总经理</option>
	</select>
	<span id="registerformhelpBlock6" class="help-block pull-right" >请选择职位！</span>
  </div>
  <div class="form-group" id="registerformstate7" style="width:100%">
                <label for="registerforminput7" >*出生日期</label>
                <div style="width:100%" class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control"  type="text" value="" id="registerforminput7" name="registerforminput7" style="width:100%" readonly>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
				<input type="hidden" id="dtp_input2" value="" /><br/>
				<span id="registerformhelpBlock7" class="help-block pull-right">请选择出生日期！</span>
            </div>
    <div class="text-center" id="registerformbutton">
	<button type="button"  name="submit"  id="submit" class="btn btn-primary" value="register" onclick="registerjs.postRegisterInfo()">注册</button>
	<a class="btn btn-default" href="http://localhost">返回</a>
    </div> 
	</form> 
</div>
</div>
</div>
<div class="col-lg-4 column">
</div>


</div>
  


<!-- 包括datetimepicker插件 -->
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script type="text/javascript">
	$('.form_date').datetimepicker({
        weekStart: 1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0,
		language: 'zh-CN',
		pickerPosition: 'top-right'
    });
</script>

{include file="index/foot" /}