<!-- 小消息 -->
<div class="modal fade" id="smallmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="smallModalLabel">系统消息</h4>
			</div>
			<div id="smallmessage" class="modal-body">
			</div>
			<div class="modal-footer" id="myModalfooter">
				<a type="button" id="smallmodalsubmit" class="btn btn-primary" data-dismiss="modal">确认</a>
				<!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		</div>
	</div>
</div>