<!-- 表单模态框 -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" aria-labelledby="FormModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="FormModaltitle">审批信息表</h4>
      </div>
      <div class="modal-body" id="FormModalbody">
        {include file="$body"/}
      </div>
      <div class="modal-footer" id="FormModalfooter">
        {$footer}
      </div>
    </div>
  </div>
</div>