<div class="panel panel-default">
			<div class="panel-heading text-center"><h3>审批流程</h3></div>
			<div class="panel-body">
			<span class="label label-default">申请人递交</span><i class="icon-arrow-right"></i>
			<span class="label label-default">部门负责人审批（三天以下）</span><i class="icon-arrow-right"></i>
			<span class="label label-default">总经理审批（三天以上）</span><i class="icon-arrow-right"></i>
			<span class="label label-default">综合部备案</span>
	</div>
</div>
<div class="panel panel-default" >
	<div class="panel-heading text-center"><h3>请假申请单</h3></div>
	<div class="panel-body" style="padding:10px">
				<div class="row">
					<div class="form-group col-lg-4">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">申&#8194请&#8194人</span>
							<input type="text" class="form-control" id="leaveforminput0" placeholder="请输入申请人姓名" value="{$name}" aria-describedby="basic-addon1" readonly="readonly" >
						</div>
					</div>
					<div class="form-group col-lg-4">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">所属部门</span>
							<input type="text" class="form-control" id="leaveforminput1" placeholder="请输入部门名称" value="{$department}" aria-describedby="basic-addon1" readonly="readonly" >
						</div>
					</div>
					<div class="form-group col-lg-4">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">职&#12288&#12288位</span>
							<input type="text" class="form-control" id="leaveforminput2" placeholder="请输入申请人职位" value="{$position}" aria-describedby="basic-addon1" readonly="readonly" >
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-6">
							<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">开始时间</span>
							<input type="text" class="form-control " id="leaveforminput3" placeholder="请选择加班开始时间" aria-describedby="basic-addon1" value="{$begintime}"  readonly="readonly" >
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar form_date" data-link-field="leaveforminput3" data-link-format="yyyy-mm-dd hh:ii"></span></span>
						</div>
					</div>
					<div class="form-group col-lg-6">
							<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">结束时间</span>
							<input type="text" class="form-control " id="leaveforminput4" placeholder="请选择加班结束时间" aria-describedby="basic-addon1" value="{$endtime}" readonly="readonly" >
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar form_date" data-link-field="leaveforminput4" data-link-format="yyyy-mm-dd hh:ii"></span></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-12">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">加班原因</span>
							<input type="text" class="form-control" id="leaveforminput5" placeholder="请输入加班原因" value="{$reason}" aria-describedby="basic-addon1">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-12">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">请假类别</span>
							<input type="text" class="form-control" id="leaveforminput6" placeholder="请选择加班处理方式" value="{$dealwith}" aria-describedby="basic-addon1" readonly="readonly" >
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-4" style="margin-bottom:0px;padding-top:6px;">
						<input class="leaveformradio" type="radio" name="leaveformradio" id="leaveformradio1"  value="事假"><span style="margin-left:10px;margin-top:5px">事假</span>
					</div>
					<div class="form-group col-lg-4" style="margin-bottom:0px;padding-top:6px;">
						<input class="leaveformradio" type="radio" name="leaveformradio" id="leaveformradio2"  value="病假"><span style="margin-left:10px;margin-top:5px">病假</span>
					</div>
					<div class="form-group col-lg-4" style="margin-bottom:0px;padding-top:6px;">
						<input class="leaveformradio" type="radio" name="leaveformradio" id="leaveformradio3"  value="年假"><span style="margin-left:10px;margin-top:5px">年假</span>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-4" style="margin-bottom:0px;padding-top:6px;">
						<input class="leaveformradio" type="radio" name="leaveformradio" id="leaveformradio4"  value="婚假"><span style="margin-left:10px;margin-top:5px">婚假</span>
					</div>
					<div class="form-group col-lg-4" style="margin-bottom:0px;padding-top:6px;">
						<input class="leaveformradio" type="radio" name="leaveformradio" id="leaveformradio5"  value="产假"><span style="margin-left:10px;margin-top:5px">产假</span>
					</div>		
					<div class="form-group col-lg-4" style="margin-bottom:0px;padding-top:6px;">
						<input class="leaveformradio" type="radio" name="leaveformradio" id="leaveformradio6"  value="陪产假"><span style="margin-left:10px;margin-top:5px">陪产假</span>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-lg-4" style="margin-bottom:0px;padding-top:6px;">
						<input class="leaveformradio" type="radio" name="leaveformradio" id="leaveformradio7"  value="丧假"><span style="margin-left:10px;margin-top:5px">丧假</span>
					</div>
					<div class="form-group col-lg-4" style="margin-bottom:0px;padding-top:6px;">
						<input class="leaveformradio" type="radio" name="leaveformradio" id="leaveformradio8"  value="哺乳假"><span style="margin-left:10px;margin-top:5px">哺乳假</span>
					</div>
					<div class="form-group col-lg-4" style="margin-bottom:0px;padding-top:6px;">
						<input class="leaveformradio" type="radio" name="leaveformradio" id="leaveformradio9"  value="工伤假"><span style="margin-left:10px;margin-top:5px">工伤假</span>
					</div>
				</div>
				<!-- <div class="row"> -->
					<!-- <div class="form-group col-lg-12"> -->
					<!-- <div class="input-group"> -->
							<!-- <span class="input-group-addon" id="basic-addon1">负责人审批</span> -->
							<!-- <input type="text" class="form-control" placeholder="请负责人填写意见" aria-describedby="basic-addon1"> -->
					<!-- </div> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="row"> -->
					<!-- <div class="form-group col-lg-12"> -->
					<!-- <div class="input-group"> -->
							<!-- <span class="input-group-addon" id="basic-addon1">总经理审批</span> -->
							<!-- <input type="text" class="form-control" placeholder="请总经理填写意见" aria-describedby="basic-addon1"> -->
					<!-- </div> -->
					<!-- </div> -->
				<!-- </div> -->
				<div class="row text-center">
					<button type="submit" class="btn btn-primary " onclick="selectuser.showdepartmentlist('otpost')">提交申请</button>
				</div>
	</div>
	
</div>

<div class="panel panel-default">
			<div class="panel-heading text-center"><h3>申请记录</h3></div>
			<div class="panel-body">
			<table class="table table-striped">
			<tr><th>业务状态</th><th>业务类型</th><th>业务名称</th><th>申请人</th><th>递交时间</th><th>最近步骤变更时间</th><th>操作</th></tr>
			{volist name="myworkrecordlist" id="value"}
			<tr>
			<td>{$value.state = isset($value.state) ? statechange($value.state) : '暂时未有业务'}</td>
			<td>{$value.type|default=""}</td>
			<td>{$value.businessname|default=""}</td>
			<td>{$value.name|default=""}</td>
			<td>{$value.posttime|default=""}</td>
			<td>{$value.sumbittime|default=""}</td>
			<td>
			{$value.id= isset($value.id) ? '<button type="button" class="btn btn-primary btn-xs businessshowread" value="'.$value.id.'">查看</button>&#12288<button type="button" class="btn btn-danger btn-xs otpostdelete" value="'.$value.id.'">删除</button>&#12288' : ''}
			</td></tr>
			{/volist}
			
			</table>
	</div>
</div>
		
<!-- 包括datetimepicker插件 -->
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script type="text/javascript">
	$('.form_date').datetimepicker({
		format: 'yyyy-mm-dd hh:ii',
        weekStart: 1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 0,
		forceParse: 0,
		language: 'zh-CN',
		minuteStep:30,
		pickerPosition: 'top-right'
    });
</script>



<!-- 包括iCheck插件 -->
<link href="/static/css/square/grey.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/icheck.min.js" charset="UTF-8"></script>

<script>
$(document).ready(function(){
  $('.leaveformradio').iCheck({
    checkboxClass: 'icheckbox_square-grey',
    radioClass: 'iradio_square-grey',
    increaseArea: '20%' // optional
	
  });
});
</script>


<!-- 获取单选值 -->
<script>
$('.leaveformradio').on('ifChecked', function(event){
  $('#leaveforminput6').val($('#'+this.id).val());
});

</script>
