<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#otpostform" aria-controls="otpostform" role="tab" data-toggle="tab">加班申请</a></li>
    <li role="presentation"><a href="#eatsituation" aria-controls="eatsituation" role="tab" data-toggle="tab">请假申请</a></li>
	<li role="presentation"><a href="#eatsituation" aria-controls="eatsituation" role="tab" data-toggle="tab">转正申请</a></li>
	<li role="presentation"><a href="#eatsituation" aria-controls="eatsituation" role="tab" data-toggle="tab">薪酬调整</a></li>
	<!-- 备用
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
	 -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="margin:10px">
    <div role="tabpanel" class="tab-pane active" id="otpostform">
		{include file="personnel_management/otpostform" /}
		<div class="panel panel-default">
			<div class="panel-heading text-center"><h3>审批流程</h3></div>
			<div class="panel-body">
			<button type="button" class="btn btn-info">申请人递交</button>-->
			<button type="button" class="btn btn-warning">部门负责人审批</button>-->
			<button type="button" class="btn btn-warning">综合部初审</button>-->
			<button type="button" class="btn btn-warning">总经理审批</button>-->
			<button type="button" class="btn btn-success">综合部备案</button>
		</div></div>

		
	</div>
    <div role="tabpanel" class="tab-pane" id="eatsituation">
	
	</div>
	<!-- 备用
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
	 -->
  </div>

</div>