<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#otpostform" aria-controls="otpostform" role="tab" data-toggle="tab">加班申请</a></li>
    <li role="presentation"><a href="#leavepostform" aria-controls="leavepostform" role="tab" data-toggle="tab">请假申请</a></li>
	<li role="presentation"><a href="#eatsituation" aria-controls="eatsituation" role="tab" data-toggle="tab">转正申请</a></li>
	<li role="presentation"><a href="#eatsituation" aria-controls="eatsituation" role="tab" data-toggle="tab">薪酬调整</a></li>
	<li role="presentation"><a href="#personnelmanagementhistory" aria-controls="personnelmanagementhistory" role="tab" data-toggle="tab">办结历史</a></li>
	<!-- 备用
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
	 -->
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" style="margin:10px">
    <div role="tabpanel" class="tab-pane active" id="otpostform">
		{include file="personnel_management/otpostform" /}
	</div>
	<div role="tabpanel" class="tab-pane" id="personnelmanagementhistory">
		<table class="table table-striped">
			<caption class="text-center"><h3>申请记录</h3></caption>
			<tr><th>业务状态</th><th>业务名称</th><th>申请人</th><th>递交时间</th><th>最近步骤变更时间</th><th>操作</th></tr>
			{volist name="myworkrecordlist" id="value"}
			<tr>
			<td>{$value.state=isset($value.state) ? statechange($value.state) : '暂时未有业务'}</td>
			<td>{$value.businessname|default=""}</td>
			<td>{$value.name|default=""}</td>
			<td>{$value.posttime|default=""}</td>
			<td>{$value.sumbittime|default=""}</td>
			<td>
			{$value.id = isset($value.id)? '<button type="button" class="btn btn-primary btn-xs businessshowread" value="'.$value.id.'">查看</button>&#12288' : ''}
			</td></tr>
			{/volist}
		</table>
	</div>
  <div role="tabpanel" class="tab-pane" id="leavepostform">
			{include file="personnel_management/leavepostform" /}
	</div>
	<!-- 备用
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
	 -->
  </div>

</div>